<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BgAddBot.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,70}</string>
                <key>spriteSourceSize</key>
                <string>{800,70}</string>
                <key>textureRect</key>
                <string>{{603,229},{800,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BgNew.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1300,600}</string>
                <key>spriteSourceSize</key>
                <string>{1300,600}</string>
                <key>textureRect</key>
                <string>{{1,1},{1300,600}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BgTopAdd1.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,56}</string>
                <key>spriteSourceSize</key>
                <string>{800,56}</string>
                <key>textureRect</key>
                <string>{{675,246},{800,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MainAtlas_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,119}</string>
                <key>spriteSourceSize</key>
                <string>{83,119}</string>
                <key>textureRect</key>
                <string>{{603,144},{83,119}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MainAtlas_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,25}</string>
                <key>spriteSourceSize</key>
                <string>{6,25}</string>
                <key>textureRect</key>
                <string>{{724,1048},{6,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MainAtlas_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,141}</string>
                <key>spriteSourceSize</key>
                <string>{125,141}</string>
                <key>textureRect</key>
                <string>{{603,1},{125,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MainAtlas_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,25}</string>
                <key>spriteSourceSize</key>
                <string>{10,25}</string>
                <key>textureRect</key>
                <string>{{663,1031},{10,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MainAtlas_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,162}</string>
                <key>spriteSourceSize</key>
                <string>{47,162}</string>
                <key>textureRect</key>
                <string>{{675,1048},{47,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MainAtlas_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,29}</string>
                <key>spriteSourceSize</key>
                <string>{11,29}</string>
                <key>textureRect</key>
                <string>{{662,1099},{11,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MainAtlas_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,7}</string>
                <key>spriteSourceSize</key>
                <string>{49,7}</string>
                <key>textureRect</key>
                <string>{{724,144},{49,7}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MainAtlas_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,25}</string>
                <key>spriteSourceSize</key>
                <string>{9,25}</string>
                <key>textureRect</key>
                <string>{{634,1137},{9,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MainAtlas_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,35}</string>
                <key>spriteSourceSize</key>
                <string>{22,35}</string>
                <key>textureRect</key>
                <string>{{603,1073},{22,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MainAtlas_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,31}</string>
                <key>spriteSourceSize</key>
                <string>{13,31}</string>
                <key>textureRect</key>
                <string>{{675,229},{13,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MainAtlas_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,11}</string>
                <key>spriteSourceSize</key>
                <string>{29,11}</string>
                <key>textureRect</key>
                <string>{{640,1106},{29,11}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MainAtlas_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,11}</string>
                <key>spriteSourceSize</key>
                <string>{29,11}</string>
                <key>textureRect</key>
                <string>{{603,1267},{29,11}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MainAtlas_42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,35}</string>
                <key>spriteSourceSize</key>
                <string>{22,35}</string>
                <key>textureRect</key>
                <string>{{603,1097},{22,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MainAtlas_43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,11}</string>
                <key>spriteSourceSize</key>
                <string>{39,11}</string>
                <key>textureRect</key>
                <string>{{662,1058},{39,11}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MainAtlas_47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,7}</string>
                <key>spriteSourceSize</key>
                <string>{29,7}</string>
                <key>textureRect</key>
                <string>{{724,195},{29,7}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MainAtlas_48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,7}</string>
                <key>spriteSourceSize</key>
                <string>{18,7}</string>
                <key>textureRect</key>
                <string>{{724,226},{18,7}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MainAtlas_57.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,5}</string>
                <key>spriteSourceSize</key>
                <string>{57,5}</string>
                <key>textureRect</key>
                <string>{{603,1046},{57,5}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MainAtlas_61.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,13}</string>
                <key>spriteSourceSize</key>
                <string>{58,13}</string>
                <key>textureRect</key>
                <string>{{603,1031},{58,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MainAtlas_62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,25}</string>
                <key>spriteSourceSize</key>
                <string>{11,25}</string>
                <key>textureRect</key>
                <string>{{653,1130},{11,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MainAtlas_64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,144}</string>
                <key>spriteSourceSize</key>
                <string>{29,144}</string>
                <key>textureRect</key>
                <string>{{603,1121},{29,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MainAtlas_70.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,5}</string>
                <key>spriteSourceSize</key>
                <string>{57,5}</string>
                <key>textureRect</key>
                <string>{{603,1053},{57,5}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MainAtlas_75.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,20}</string>
                <key>spriteSourceSize</key>
                <string>{25,20}</string>
                <key>textureRect</key>
                <string>{{640,1079},{25,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MainAtlas_78.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,17}</string>
                <key>spriteSourceSize</key>
                <string>{16,17}</string>
                <key>textureRect</key>
                <string>{{644,1060},{16,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MainAtlas_80.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,11}</string>
                <key>spriteSourceSize</key>
                <string>{39,11}</string>
                <key>textureRect</key>
                <string>{{603,1060},{39,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>arrow.png</string>
            <key>size</key>
            <string>{732,1302}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:99568648eaf6cab9d00974be361ba318:f94bc1019d0caf630a5c3b9ffc2e92c5:051d0c44f86a9216b35b1090e88ad067$</string>
            <key>textureFileName</key>
            <string>arrow.png</string>
        </dict>
    </dict>
</plist>
