<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Background.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,480}</string>
                <key>spriteSourceSize</key>
                <string>{320,480}</string>
                <key>textureRect</key>
                <string>{{1,1},{320,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Flay1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,27}</string>
                <key>spriteSourceSize</key>
                <string>{50,39}</string>
                <key>textureRect</key>
                <string>{{361,555},{36,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Flay2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{37,27}</string>
                <key>spriteSourceSize</key>
                <string>{51,39}</string>
                <key>textureRect</key>
                <string>{{322,520},{37,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Flay3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{37,27}</string>
                <key>spriteSourceSize</key>
                <string>{51,39}</string>
                <key>textureRect</key>
                <string>{{322,549},{37,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,49}</string>
                <key>spriteSourceSize</key>
                <string>{178,49}</string>
                <key>textureRect</key>
                <string>{{323,340},{178,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnPlay.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,59}</string>
                <key>spriteSourceSize</key>
                <string>{106,59}</string>
                <key>textureRect</key>
                <string>{{374,340},{106,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnScore.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,59}</string>
                <key>spriteSourceSize</key>
                <string>{105,59}</string>
                <key>textureRect</key>
                <string>{{374,448},{105,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ground.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{337,112}</string>
                <key>spriteSourceSize</key>
                <string>{337,112}</string>
                <key>textureRect</key>
                <string>{{323,1},{337,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pipeDown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,319}</string>
                <key>spriteSourceSize</key>
                <string>{55,319}</string>
                <key>textureRect</key>
                <string>{{1,483},{55,319}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pipeUp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,319}</string>
                <key>spriteSourceSize</key>
                <string>{55,319}</string>
                <key>textureRect</key>
                <string>{{1,540},{55,319}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bird.png</string>
            <key>size</key>
            <string>{436,596}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:04fbb23a5024594502f75d681e46383b:2f9cd2843fa3156fc36bf2fb543bbef5:5af5b3fbab807b4ca11b45d111eeecdf$</string>
            <key>textureFileName</key>
            <string>bird.png</string>
        </dict>
    </dict>
</plist>
